<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag(assigns[:page_title]) %>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <style>
      body {
        margin: unset;
      }
      video {
        height: 100vh;
        width: 100%;
        background-color: black;
      }
    </style>
    <script>
      window.userId = <%= assigns[:current_user].id %>;
      window.userEmail = "<%= assigns[:current_user].email %>";
      window.userName = "<%= assigns[:current_user].name %>";
    </script>
  </head>
  <body>
    <%= @inner_content %>

    <script>
      window['__onGCastApiAvailable'] = function(isAvailable) {
          if (isAvailable) {
              cast.framework.CastContext.getInstance().setOptions({
                receiverApplicationId: 'B7C82081',
                autoJoinPolicy: chrome.cast.AutoJoinPolicy.ORIGIN_SCOPED
              });

              cast.framework.CastContext.getInstance().addEventListener(cast.framework.CastContextEventType.CAST_STATE_CHANGED, function({ castState }) {
                  if (castState === 'CONNECTED') {
                      const mediaInfo = new chrome.cast.media.MediaInfo('<%= System.get_env("APP_URL", "") <> assigns[:media_stream] %>', 'video/mp4');
                      const request = new chrome.cast.media.LoadRequest(mediaInfo);

                      cast.framework.CastContext.getInstance().getCurrentSession().loadMedia(request).then(
                        function() {
                          console.log('Cast media loaded');
                        },
                        function(errorCode) {
                          console.log(errorCode);
                      });
                  }
              });
          }
      }
    </script>
    <script src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1">
    </script>
    <script defer phx-track-static src={Routes.static_path(@conn, "/assets/app.js")}>
    </script>
  </body>
</html>
