<h1><%= @file.path%></h1>

<video style="width: 100%; height: 100%;" class="video-js" controls preload="none">

  <source src={"/stream/"<>to_string(@file.id)} type="video/mp4" />
  
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>