<media-player
  id="video"
  phx-update="ignore"
  phx-hook="video"
  src={@media_playlist}
  poster={@media_background}
  autoplay
  controls
  controlslist="nodownload"
  plays-inline
  current-time={@media_current_time}
>
  <media-provider></media-provider>
</media-player>
