version: "3.4"

services:
  web:
    build: .
    ports:
      - 4000:4000
    volumes:
      - ./:/app
      - ./fixtures/movies:/movies
      - ./fixtures/shows:/shows
    environment:
      - DB_USERNAME=my_user
      - DB_PASSWORD=my_password
      - DB_DATABASE=my_database
      - DB_HOSTNAME=postgresql
      - SETUP_ADMIN_EMAIL=admin@email.com
      - SETUP_ADMIN_NAME=admin
      - SETUP_ADMIN_PASSWORD=passwordpassword
      - TEST_DB_HOSTNAME=test-postgresql
      - RADARR_BASE_URL=radarr:7878
      - RADARR_API_KEY=d031e8c9b9df4b2fab311d1c3b3fa2c5
      - SONARR_BASE_URL=sonarr:8989
      - SONARR_API_KEY=1accda4476394bfcaddefe8c4fd77d4a
    depends_on:
      postgresql:
        condition: service_healthy
      test-postgresql:
        condition: service_healthy
      radarr:
        condition: service_healthy
      sonarr:
        condition: service_healthy
    command: bash -c "mix ecto.migrate && mix run priv/repo/seeds.exs && mix phx.server"

  postgresql:
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=my_user
      - POSTGRES_PASSWORD=my_password
      - POSTGRES_DB=my_database
    healthcheck:
      test: "exit 0"

  test-postgresql:
    image: postgres
    environment:
      - POSTGRES_USER=my_user
      - POSTGRES_PASSWORD=my_password
      - POSTGRES_DB=my_database
    healthcheck:
      test: "exit 0"

  radarr:
    image: linuxserver/radarr:3.2.2
    ports:
      - 7878:7878
    volumes:
      - ./fixtures/radarr/config.xml:/config/config.xml
      - ./fixtures/movies:/movies
    environment:
      - PUID=1000
      - PGID=1000
    healthcheck:
      test: "exit 0"

  sonarr:
    image: linuxserver/sonarr:3.0.6
    ports:
      - 8989:8989
    volumes:
      - ./fixtures/sonarr/config.xml:/config/config.xml
      - ./fixtures/shows:/shows
    environment:
      - PUID=1000
      - PGID=1000
    healthcheck:
      test: "exit 0"