version: "3.4"

services:

  midarr:
    container_name: midarr
    build: .
    ports:
      - 4000:4000
    volumes:
      - ./:/app
      - ./dev/library:/library
    environment:
      - APP_URL=http://midarr:4000

      - DB_HOSTNAME=postgresql
      - DB_HOSTNAME_TEST=postgresql-test
      - DB_USERNAME=my_user
      - DB_PASSWORD=my_password
      - DB_DATABASE=my_database

      - SETUP_ADMIN_EMAIL=admin@email.com
      - SETUP_ADMIN_NAME=admin
      - SETUP_ADMIN_PASSWORD=somepassword

      - OAUTH_CLIENT_ID=someClientId
      - OAUTH_CLIENT_SECRET=someClientSecret
      - OAUTH_ISSUER_URL=http://localhost:8081
      - OAUTH_AUTHORIZE_URL=http://localhost:8081/authorize
      - OAUTH_TOKEN_URL=http://localhost:8081/token
      - OAUTH_REDIRECT_URI=http://localhost:8081/auth/callback
      - OAUTH_USER_URL=http://localhost:8081/user

      - VAPID_PUBLIC_KEY=BDntLA3k5K1tsrFOXXAuS_9Ey30jxy-R2CAosC2DOQnTs8LpQGxpTEx3AcPXinVYFFpJI6tT_RJC8pHgUsdbhOk
      - VAPID_PRIVATE_KEY=RVPPDBVNmJtSLoZ28jE1SumpG4HyhhCPfcix3bvxbLw
      - VAPID_SUBJECT=mailto:admin@email.com

      - RADARR_BASE_URL=http://radarr:7878
      - RADARR_API_KEY=d031e8c9b9df4b2fab311d1c3b3fa2c5
      - SONARR_BASE_URL=http://sonarr:8989
      - SONARR_API_KEY=1accda4476394bfcaddefe8c4fd77d4a
    depends_on:
      postgresql:
        condition: service_healthy
      postgresql-test:
        condition: service_healthy
      radarr:
        condition: service_healthy
      sonarr:
        condition: service_healthy
    command: sh -c "chmod u+x entry-local.sh && ./entry-local.sh"

  postgresql:
    container_name: postgresql
    image: postgres
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=my_user
      - POSTGRES_PASSWORD=my_password
      - POSTGRES_DB=my_database
    healthcheck:
      test: "exit 0"

  postgresql-test:
    container_name: postgresql-test
    image: postgres
    environment:
      - POSTGRES_USER=my_user
      - POSTGRES_PASSWORD=my_password
      - POSTGRES_DB=my_database
    healthcheck:
      test: "exit 0"

  radarr:
    container_name: radarr
    image: linuxserver/radarr:version-5.2.6.8376
    ports:
      - 7878:7878
    volumes:
      - ./dev/radarr/config.xml:/config/config.xml
      - ./dev/library:/library
    environment:
      - PUID=1000
      - PGID=1000
    healthcheck:
      test: "exit 0"

  sonarr:
    container_name: sonarr
    image: linuxserver/sonarr:version-3.0.9.1549
    ports:
      - 8989:8989
    volumes:
      - ./dev/sonarr/config.xml:/config/config.xml
      - ./dev/library:/library
    environment:
      - PUID=1000
      - PGID=1000
    healthcheck:
      test: "exit 0"