<section class="phx-hero">
  <h1><%= @library.name%></h1>
</section>

<section class="row">
  <article class="column">
    <h2>Files</h2>
    
    <ul>
    <%= for file <- @library.files do %>
      <li>
        <%= link(to_string(file.path), to: "/files/"<>to_string(file.id)) %>
      </li>
    <% end %>
    </ul>
  </article>
</section>