<video id="my-video" class="video-js" controls preload="none" width="640" height="264" data-setup="{}">
  <source src={"/"<>@id<>"/"<>URI.encode(@movie)<>"/stream"} type="video/mp4" />
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
  </p>
</video>