<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Stream</title>
    <link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
    <style>
        body {
            margin: 0px;
        }
    </style>
  </head>
  <body>
    <video
      id="video"
      class="video-js"
      controls
      preload="auto"
      data-setup="{}"
      style="height: 100%; width: 100%;"
    >
      <source src={"/api/watch/#{@uuid}/index.m3u8"} type="application/x-mpegURL" />

      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video>

    <script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
  </body>
</html>
