<.live_component module={MediaServerWeb.Components.NavComponent}
    id="nav-component"
    class="text-slate-600 hover:text-slate-800"
/>

<%= MediaServerWeb.Components.SpinnerComponent.render(%{}) %>