<media-player
    id="ignore"
    phx-update="ignore"
    src={ @media_stream }
    poster={MediaServer.MoviesIndex.get_background(@movie)}
    controlsList="nodownload"
    controls
    autoplay>
        <media-outlet></media-outlet>
</media-player>