<media-player
    id="ignore"
    phx-update="ignore"
    src={ @media_stream }
    poster={Routes.images_path(@socket, :index, movie: @movie["id"], type: "background")}
    controlsList="nodownload"
    controls
    autoplay>
        <media-outlet></media-outlet>
</media-player>