<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "MediaServer" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css?id=1")}/>
    <style>
        .nav-link {
            margin: 1em;
        }
    </style>
    <%= if @current_user do %>
    <script>window.userId = "<%= assigns[:current_user].id %>";</script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js?id=4")}></script>
    <% end %>
  </head>
  <body>
    <%= render "_user_menu.html", assigns %>

    <main class="container">
      <%= @inner_content %>
    </main>
  </body>
</html>
