@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

video {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.prose {
  --tw-prose-body: #3f3f46;
  --tw-prose-headings: #18181b;
  --tw-prose-links: #10b981;
  --tw-prose-links-hover: #059669;
  --tw-prose-links-underline: rgba(16, 185, 129, 0.3);
  --tw-prose-bold: #18181b;
  --tw-prose-counters: #71717a;
  --tw-prose-bullets: #d4d4d8;
  --tw-prose-hr: rgba(24, 24, 27, 0.05);
  --tw-prose-quotes: #18181b;
  --tw-prose-quote-borders: #e4e4e7;
  --tw-prose-captions: #71717a;
  --tw-prose-code: #18181b;
  --tw-prose-code-bg: #f4f4f5;
  --tw-prose-code-ring: #d4d4d8;
  --tw-prose-th-borders: #d4d4d8;
  --tw-prose-td-borders: #e4e4e7;
  --tw-prose-invert-body: #a1a1aa;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-links: #34d399;
  --tw-prose-invert-links-hover: #10b981;
  --tw-prose-invert-links-underline: rgba(16, 185, 129, 0.3);
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #a1a1aa;
  --tw-prose-invert-bullets: #52525b;
  --tw-prose-invert-hr: hsla(0, 0%, 100%, 0.05);
  --tw-prose-invert-quotes: #f4f4f5;
  --tw-prose-invert-quote-borders: #3f3f46;
  --tw-prose-invert-captions: #a1a1aa;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-code-bg: rgba(63, 63, 70, 0.15);
  --tw-prose-invert-code-ring: hsla(0, 0%, 100%, 0.1);
  --tw-prose-invert-th-borders: #52525b;
  --tw-prose-invert-td-borders: #3f3f46;
  color: var(--tw-prose-body);
  font-size: 0.875rem;
  line-height: 1.75rem;
}

@media (min-width: 1024px) {
  .prose :where(.prose > *):not(:where([class~="not-prose"] *)) {
    max-width: 50rem;
    margin-left: calc(50% - min(50%, 33rem));
    margin-right: calc(50% - min(50%, 33rem));
  }
}

.prose :where([class~="lead"]):not(:where([class~="not-prose"] *)) {
  font-size: 1rem;
  line-height: 1.75rem;
}

.prose :where(h1):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
}

.prose :where(h2):not(:where([class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.max-w-none {
  max-width: none;
}

:is(.dark .dark\:prose-invert) {
  --tw-prose-body: var(--tw-prose-invert-body);
  --tw-prose-headings: var(--tw-prose-invert-headings);
  --tw-prose-links: var(--tw-prose-invert-links);
  --tw-prose-links-hover: var(--tw-prose-invert-links-hover);
  --tw-prose-links-underline: var(--tw-prose-invert-links-underline);
  --tw-prose-bold: var(--tw-prose-invert-bold);
  --tw-prose-counters: var(--tw-prose-invert-counters);
  --tw-prose-bullets: var(--tw-prose-invert-bullets);
  --tw-prose-hr: var(--tw-prose-invert-hr);
  --tw-prose-quotes: var(--tw-prose-invert-quotes);
  --tw-prose-quote-borders: var(--tw-prose-invert-quote-borders);
  --tw-prose-captions: var(--tw-prose-invert-captions);
  --tw-prose-code: var(--tw-prose-invert-code);
  --tw-prose-code-bg: var(--tw-prose-invert-code-bg);
  --tw-prose-code-ring: var(--tw-prose-invert-code-ring);
  --tw-prose-th-borders: var(--tw-prose-invert-th-borders);
  --tw-prose-td-borders: var(--tw-prose-invert-td-borders);
}