@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

video {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@font-face {
    font-family: __Inter_20951f;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://syntax.tailwindui.com/_next/static/media/d1d9458b69004127-s.woff2) format("woff2");
    unicode-range: u+0460-052f,u+1c80-1c88,u+20b4,u+2de0-2dff,u+a640-a69f,u+fe2e-fe2f
}

@font-face {
    font-family: __Inter_20951f;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://syntax.tailwindui.com/_next/static/media/b967158bc7d7a9fb-s.woff2) format("woff2");
    unicode-range: u+0301,u+0400-045f,u+0490-0491,u+04b0-04b1,u+2116
}

@font-face {
    font-family: __Inter_20951f;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://syntax.tailwindui.com/_next/static/media/ae9ae6716d4f8bf8-s.woff2) format("woff2");
    unicode-range: u+1f??
}

@font-face {
    font-family: __Inter_20951f;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://syntax.tailwindui.com/_next/static/media/c0f5ec5bbf5913b7-s.woff2) format("woff2");
    unicode-range: u+0370-03ff
}

@font-face {
    font-family: __Inter_20951f;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://syntax.tailwindui.com/_next/static/media/b1db3e28af9ef94a-s.woff2) format("woff2");
    unicode-range: u+0102-0103,u+0110-0111,u+0128-0129,u+0168-0169,u+01a0-01a1,u+01af-01b0,u+0300-0301,u+0303-0304,u+0308-0309,u+0323,u+0329,u+1ea0-1ef9,u+20ab
}

@font-face {
    font-family: __Inter_20951f;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://syntax.tailwindui.com/_next/static/media/9c4f34569c9b36ca-s.woff2) format("woff2");
    unicode-range: u+0100-02af,u+0304,u+0308,u+0329,u+1e00-1e9f,u+1ef2-1eff,u+2020,u+20a0-20ab,u+20ad-20cf,u+2113,u+2c60-2c7f,u+a720-a7ff
}

@font-face {
    font-family: __Inter_20951f;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://syntax.tailwindui.com/_next/static/media/2aaf0723e720e8b9-s.p.woff2) format("woff2");
    unicode-range: u+00??,u+0131,u+0152-0153,u+02bb-02bc,u+02c6,u+02da,u+02dc,u+0304,u+0308,u+0329,u+2000-206f,u+2074,u+20ac,u+2122,u+2191,u+2193,u+2212,u+2215,u+feff,u+fffd
}

@font-face {
    font-family: __Inter_Fallback_20951f;
    src: local("Arial");
    ascent-override:90.20%;descent-override:22.48%;line-gap-override:0.00%;size-adjust:107.40%}

.__className_20951f {
    font-family: __Inter_20951f,__Inter_Fallback_20951f;
    font-style: normal
}

.__variable_20951f {
    --font-inter: "__Inter_20951f","__Inter_Fallback_20951f";
}

@font-face {
    font-family: __lexend_b436a8;
    src: url(https://syntax.tailwindui.com/_next/static/media/8935352d0bfcf3a9-s.p.woff2) format("woff2");
    font-display: swap
}

@font-face {
    font-family: __lexend_Fallback_b436a8;
    src: local("Arial");
    ascent-override:90.26%;descent-override:22.57%;line-gap-override:0.00%;size-adjust:110.79%}

.__className_b436a8 {
    font-family: __lexend_b436a8,__lexend_Fallback_b436a8
}

.__variable_b436a8 {
    --font-lexend: "__lexend_b436a8","__lexend_Fallback_b436a8";
}

.max-w-8xl {
    max-width: 88rem
}

@media (min-width: 1024px) {
    .lg\:static {
        position:static
    }

    .lg\:relative {
        position: relative
    }

    .lg\:-bottom-32 {
        bottom: -8rem
    }

    .lg\:-top-32 {
        top: -8rem
    }

    .lg\:left-0 {
        left: 0
    }

    .lg\:left-\[calc\(50\%\+14rem\)\] {
        left: calc(50% + 14rem)
    }

    .lg\:right-0 {
        right: 0
    }

    .lg\:mt-4 {
        margin-top: 1rem
    }

    .lg\:block {
        display: block
    }

    .lg\:hidden {
        display: none
    }

    .lg\:w-96 {
        width: 24rem
    }

    .lg\:max-w-8xl {
        max-width: 88rem
    }

    .lg\:max-w-none {
        max-width: none
    }

    .lg\:flex-none {
        flex: none
    }

    .lg\:translate-x-0 {
        --tw-translate-x: 0px
    }

    .lg\:translate-x-0,.lg\:translate-y-\[-60\%\] {
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
    }

    .lg\:translate-y-\[-60\%\] {
        --tw-translate-y: -60%
    }

    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2,minmax(0,1fr))
    }

    .lg\:justify-start {
        justify-content: flex-start
    }

    .lg\:space-y-4>:not([hidden])~:not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(1rem * var(--tw-space-y-reverse))
    }

    .lg\:border-slate-200 {
        --tw-border-opacity: 1;
        border-color: rgb(226 232 240/var(--tw-border-opacity))
    }

    .lg\:px-0 {
        padding-left: 0;
        padding-right: 0
    }

    .lg\:px-8 {
        padding-left: 2rem;
        padding-right: 2rem
    }

    .lg\:py-20 {
        padding-top: 5rem;
        padding-bottom: 5rem
    }

    .lg\:py-\[15vh\] {
        padding-top: 15vh;
        padding-bottom: 15vh
    }

    .lg\:pl-8 {
        padding-left: 2rem
    }

    .lg\:pr-0 {
        padding-right: 0
    }

    .lg\:text-left {
        text-align: left
    }

    .lg\:text-sm {
        font-size: .875rem;
        line-height: 1.5rem
    }

    .lg\:\[mask-image\:none\] {
        -webkit-mask-image: none;
        mask-image: none
    }

    .lg\:prose-headings\:scroll-mt-\[8\.5rem\] :is(:where(h1,h2,h3,h4,h5,h6,th):not(:where([class~=not-prose] *))) {
        scroll-margin-top: 8.5rem
    }

    :is(.dark .lg\:dark\:\[mask-image\:linear-gradient\(white\2c white\2c transparent\)\]) {
        -webkit-mask-image: linear-gradient(#fff,#fff,transparent);
        mask-image: linear-gradient(#fff,#fff,transparent)
    }
}