<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "MediaServer" %></h1>
</section>

<section class="row">
  <article class="column">
    <h2>Movies</h2>
    <ul>
      <li>
        <a href="/test">Show page</a>
      </li>
    </ul>
  </article>
</section>