<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "MediaServer" %></h1>
</section>

<section class="row">
  <article class="column">
    <h2>Files</h2>
    
    <ul>
    <%= for file <- @files do %>
      <li>
        <a href={file.id}><%= file.path %></a>
      </li>
    <% end %>
    </ul>
  </article>
</section>