<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "MediaServer" %></h1>
</section>

<section class="row">
  <article class="column">
    <h2><%= @id %></h2>
    
    <ul>
    <%= for movie <- @movies do %>
      <li>
        <a href={"/"<>URI.encode(@id)<>"/"<>movie<>"/stream"}><%= movie %></a>
      </li>
    <% end %>
    </ul>
  </article>
</section>