<.form
  let={f}
  for={@playlist}
  id="playlist-form"
  phx-target={@myself}
  phx-change="validate"
  phx-submit="save"
>
  <%= text_input(f, :name,
    placeholder: "Enter name",
    class:
      "mt-1 block w-full shadow-sm focus:ring-slate-500 focus:border-slate-500 sm:text-sm border-gray-300 rounded-md"
  ) %>
</.form>
