<button
  id="follow"
  type="button"
  phx-hook="follow"
  phx-target={@myself}
  data-media_id={@media_id}
  data-media_type={@media_type}
  data-user_id={@user_id}
  data-event={@event}
  class="inline-flex items-center gap-2 justify-center rounded-lg py-2 px-3 text-sm outline-offset-2 transition active:transition-none bg-zinc-800 font-semibold text-zinc-100 hover:bg-zinc-700 active:bg-zinc-800"
>
  <%= @state %>
</button>