<div>
  <.link navigate={@link}>
    <div class="relative overflow-visible bg-zinc-900 w-40 hover:opacity-60">
      <img
        src={@img_src}
        alt={@title}
        class="h-full w-full object-cover object-center"
        loading="lazy"
      />
    </div>

    <p class="mt-4 text-sm line-clamp text-zinc-400">
      <%= @title %>
    </p>
  </.link>
</div>
