name: Tag

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PAT }}
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14

      - name: Install dependencies
        run: rm -rf node_modules && yarn install --frozen-lockfile

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        run: npm install @semantic-release/changelog @semantic-release/git -D & npx semantic-release

  docker:
    name: Docker
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}

      - name: Build tag push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/midarrlabs/midarr-server:${{ env.RELEASE_VERSION }}
          build-args: |
            "MIX_ENV=prod"
            "SECRET_KEY_BASE=${{ secrets.SECRET_KEY_BASE }}"

      - name: Build tag latest push
        id: docker_build_latest
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ghcr.io/midarrlabs/midarr-server:latest
          build-args: |
            "MIX_ENV=prod"
            "SECRET_KEY_BASE=${{ secrets.SECRET_KEY_BASE }}"