name: Test

on:
  push:
    branches:
      - '**'

env:
  MIX_ENV: test
  RADARR_BASE_URL: http://localhost:7878
  RADARR_API_KEY: d031e8c9b9df4b2fab311d1c3b3fa2c5
  SONARR_BASE_URL: http://localhost:8989
  SONARR_API_KEY: 1accda4476394bfcaddefe8c4fd77d4a

jobs:

  test:
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: [ '24' ]
        elixir: [ '1.13.4' ]
    steps:
      - uses: actions/checkout@v2

      # Setup Radarr
      - run: chmod u+x script-install-radarr.sh
      - run: ./script-install-radarr.sh
      - run: curl --head -X GET --retry 5 --retry-connrefused --retry-delay 5 http://localhost:7878
      # Seed Radarr
      - run: curl -d "@${GITHUB_WORKSPACE}/fixtures/radarr/root-folder.json" -H "Content-Type:application/json" -X POST "http://localhost:7878/api/v3/rootfolder?apiKey=d031e8c9b9df4b2fab311d1c3b3fa2c5"
      - run: curl -d "@${GITHUB_WORKSPACE}/fixtures/radarr/movies.json" -H "Content-Type:application/json" -X POST "http://localhost:7878/api/v3/movie/import?apiKey=d031e8c9b9df4b2fab311d1c3b3fa2c5"

      # Setup Sonarr
      - run: chmod u+x script-install-sonarr.sh
      - run: ./script-install-sonarr.sh
      - run: curl --head -X GET --retry 5 --retry-connrefused --retry-delay 5 http://localhost:8989
      # Seed Sonarr
      - run: curl -d "@${GITHUB_WORKSPACE}/fixtures/sonarr/root-folder.json" -H "Content-Type:application/json" -X POST "http://localhost:8989/api/v3/rootfolder?apikey=1accda4476394bfcaddefe8c4fd77d4a"
      - run: curl -d "@${GITHUB_WORKSPACE}/fixtures/sonarr/series.json" -H "Content-Type:application/json" -X POST "http://localhost:8989/api/v3/series/import?apikey=1accda4476394bfcaddefe8c4fd77d4a"
      - run: ls -a /var/lib/sonarr

      # Run tests
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{matrix.otp}}
          elixir-version: ${{matrix.elixir}}
      - run: mix deps.get
      - run: mix test