name: Test

on:
  push:
    branches: '*'

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Up services
        run: docker compose up -d

      - name: Run tests
        run: docker run --network=midarr-server_default --env MIX_ENV=test --env APP_URL=http://midarr:4000 --mount type=bind,src=${GITHUB_WORKSPACE}/fixtures/movies,dst=/movies --mount type=bind,src=${GITHUB_WORKSPACE}/fixtures/shows,dst=/shows midarr-server-midarr:latest mix test

      - name: Run coverage
        run: docker run --network=midarr-server_default --env GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} --env CODECOV_TOKEN=${{ secrets.CODECOV_TOKEN }} --env MIX_ENV=test --env APP_URL=http://midarr:4000 --mount type=bind,src=${GITHUB_WORKSPACE}/fixtures/movies,dst=/movies --mount type=bind,src=${GITHUB_WORKSPACE}/fixtures/shows,dst=/shows midarr-server-midarr:latest /bin/bash /app/script-code-coverage.sh